form {
  margin-left: auto;
}

.header-search-button {
  margin-left: 8px;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  font-weight: bold;
}

.user-logout {
  color: rgb(233, 64, 64);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-logout:hover {
  color: red;
  cursor: pointer;
}
