.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: #e0a18c;
}

.header-buttons a {
  margin: 5px;
  color: #0a0301;
}

.header-search button {
  padding: 0 7px;
  margin: 0 5px;
  border-radius: 5px;
}

.header-search {
  display: flex;
  justify-content: center;
  width: 50%;
}

.header-search input {
  width: 55%;
  border-radius: 10px;
  border: none;
  padding: 3px;
}

.header-search input:focus {
  outline: none;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo i {
  margin: 0 10px;
}
