.user-editable {
  display: flex;
  justify-content: flex-end;
}

.blog-modify-date {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-size: 11px;
}

.blog-owner {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-size: 11px;
}

.add-blog-button {
  display: flex;
  justify-content: flex-end;
}

.main {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
