body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

.home-row .card {
  height: 250px;
}

.card img {
  height: 40%;
}

.card .card-body,
.card-title {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
